parameters:
    excludes_analyse:
        - %currentWorkingDirectory%/tests/*
        - %currentWorkingDirectory%/doc/*
        - %currentWorkingDirectory%/vendor/*
        - %currentWorkingDirectory%/.github/*
    includes:
        - %rootDir%/../phpstan-phpunit/extension.neon
        - %rootDir%/../phpstan-phpunit/rules.neon
        - %rootDir%/../thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon